$color-0: #ffffff;
$color-1: #458fd1;
$color-2: #4549d1;
$color-3: #8745d1;
$color-4: #cd45d1;
$color-5: #d1458f;
$color-6: #d14549;

$font-primary: 'Pathway Gothic One', sans-serif;
$font-secondary: 'Cardo', serif;

body {
  background: $color-1;
  color: $color-0;
  display: flex;
  justify-content: center;
  font-family: $font-primary;
}

p {
  font-family: $font-secondary;
}

a:hover {
  cursor: pointer;
}
